<div class="home">
    <div class="sidenavCompiler">
        <a href="#">Py</a>
        <a href="#">C</a>
        <a href="#">C++</a>
        <a href="#">Java</a>

    </div>

    <div class="row">
        <textarea class="column" class="editor" style="background-color: rgba(0, 0, 0, 0);">

    </textarea>

        <textarea class="column" id="console" style="background-color: rgba(0, 0, 0, 0);" readonly>

    </textarea>
    </div>
    <hr>
</div>