<%- include('quiz.ejs') %>

    <div id="quiz-result">
        <p class="stanga">Ați răspuns corect la <b style="color: green;">
                <%=raspunsuri_corecte %>
            </b> întrebări!</p> <br><br>
    </div>