body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #1c2130;
    /*overflow-y: hidden;*/
}

.sidenavCompiler {
    height: 100%;
    width: 60px;
    position: fixed;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
}

.sidenavCompiler a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
}

.sidenavCompiler a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 55px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenavCompiler {
        padding-top: 15px;
    }
    .sidenavCompiler a {
        font-size: 10px;
    }
}

.wrapper {
    height: 100%;
    background: #1c2130;
    background-repeat: repeat-y;
}

.header {
    height: 102px;
    background: rgb(31, 32, 35);
    padding: 10px;
    z-index: 1;
}

.header h1 {
    color: antiquewhite;
    text-align: center;
}


.menuNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menuNav li {
    float: up;
}

.menuNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menuNav li a:hover {
    background-color: #111;
}

.menuNav .active {
    background-color: red;
}

* {
    box-sizing: border-box;
}

.sidenavCompiler .active a {
    color: #f1f1f1;
}

.column0 {
    float: left;
    width: 72px;
    padding: 10px;
    height: 65vh;
    border-right: none;
}

#inputCode {
    float: left;
    width: 44%;
   
    padding: 10px;
    height: 65vh;
    border-left: none;
    position: absolute;
    left:0;
    margin-left: 56px;
}

#highlighting {
    position: absolute;
    float: left;
    width: 44%;
    padding: 10px;
    height: 65vh;
    margin-top: 46px;
    background-color: transparent;
    
    left:0;
    margin-left: 56px;
}
#container {
    position: relative;
    
}
/*
#container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}
*/

.column2 {
    float: right;
    width: 51%;
    padding: 10px;
    height: 65vh;
    position: relative;
    
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    
}

@media screen and (max-width: 1200px) {
    
    #console{
        display: block;
        width: 100%;
    }
    #inputCode{
        display: block;
        width: 95%;
    }
    #highlighting {
        display: block;
        width: 95%;
    }
   
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 1;
}

textarea {
    resize: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: beige;
    font-size: 16px;
    margin-top: 45px;
}

textarea:focus, input:focus {
    outline: 0;
}

#console {
    /*margin-top: 21px;*/
    font-size: 16px;
    outline: none;
}

.btnRunScript {
    margin: 0;
    position: absolute;
    left: 48%;
    -ms-transform: translateX(-51%);
    transform: translateX(-51%);
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 150px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    z-index: 2;
}

.btnRunScript span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-top: -30px;
    transition: 0.5s;
    top: -10px;
}

.btnRunScript span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btnRunScript:hover span {
    padding-right: 25px;
}

.btnRunScript:hover span:after {
    opacity: 1;
    right: 0;
}

#inputCode, #highlighting, #highlighting * {
    /* Also add text styles to highlighting tokens */
    font-size: 14pt;
    font-family: monospace;
    line-height: normal;
}
#lines{
    font-size: 14pt;
    font-family: monospace;
    line-height: normal;
}
#inputCode {
    z-index: 1;
}

#highlighting {
    z-index: 0;
    border: 0;
    resize: none;
    
}

#inputCode {
    color: transparent;
    background: transparent;
    caret-color: white;
    /* Or choose your favorite color */
}

#inputCode {
    resize: none;
}

#inputCode {
    overflow: auto;
    white-space: nowrap;
    tab-size: 4;
    /* Allows textarea to scroll horizontally */
}
#highlighting {
    overflow: hidden;
    white-space: nowrap;
    tab-size: 4;
    /* Allows textarea to scroll horizontally */
}
pre {
    /*
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 
    white-space: -pre-wrap; /* Opera 
    white-space: -o-pre-wrap; /* Opera 
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space 
    word-wrap: break-word; /* IE 5.5+ 
    white-space: pre-line;*/
    text-align: left;
}
 /*
code {
    
    white-space: -moz-pre-wrap;
    /* Mozilla, supported since 1999 
    white-space: -pre-wrap;
    /* Opera 
    white-space: -o-pre-wrap;
    /* Opera 
    white-space: pre-wrap;
    /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space 
    word-wrap: break-word;
    /* IE 5.5+ 
}*/